<div class="container">

  <div class="header">
    <!-- banner area -->

    <div class="header-banner" [ngStyle]="{
      'background-image':'linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url('+headerBGurl+')'
    }">
      <!-- <h2>{{trending?.results[2].title}}</h2> -->
      <h2>Mulan</h2>

      <div class="header-buttons" >

        <button class="play-button">
          <mat-icon>arrow_right</mat-icon>
          <span>Play</span>
        </button>

        <button class="more-button">
          <mat-icon>info</mat-icon>
          <span>More Info</span>
        </button>

      </div>
    </div>
    <!-- BANNER ENDS HERE -->


    <!-- MAIN AREA -->

    <div class="header-main" id="stickyheader" [class.sticky]="sticky" #stickheader>
      <div class="header-left">
        <a routerLink="/">
          <img src="assets/netflix.svg" alt="logo">
        </a>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">TV Shows</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Latest</a></li>
          <li><a href="#">My List</a></li>
        </ul>
      </div>

      <div class="header-right">
        <ul>
          <li><a href="#"><mat-icon>search</mat-icon></a></li>
          <li><a href="#"><mat-icon>card_giftcard</mat-icon></a></li>
          <li><a href="#"><mat-icon>notifications</mat-icon></a></li>
          <li><img src="assets/ava.png" alt="avatar"></li>
        </ul>
      </div>

    </div> 
    <!-- MAIN END -->

  </div>

  <div class="body" style="margin-top: 30rem;">
    <app-slider title="Trending" [movies]="trending" [sliderConfig]="sliderConfig" ></app-slider>
    <app-slider title="Top Rated" [movies]="topRated" [sliderConfig]="sliderConfig" ></app-slider>
    <app-slider title="Originals" [movies]="originals" [sliderConfig]="sliderConfig" ></app-slider>
    <app-slider title="Now Playing" [movies]="nowPlaying" [sliderConfig]="sliderConfig" ></app-slider>
    <app-slider title="Popular" [movies]="popular" [sliderConfig]="sliderConfig" ></app-slider>
  </div>

</div>